body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.virsus{
    background-color: #faf8f5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.top-left{
    display: flex;
    justify-content: space-between;
    margin-left: 83px;
}
.top-left > img{
 width: 210px;
}
.top-right{
    display: flex;
    justify-content: space-between;
}
.linkas{
    text-decoration: none;
    padding:15px 0px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    
}
.sign-up-btn{
    background-color: #fc6768;
    border-radius: 5px;
    padding:15px 27px;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin-left: 20px;
}
.online-resume{
    background-color: #faf8f5;
    display: flex;
    justify-content: center;
}
.left-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 60px;
    padding-top: 170px;
    margin-left: 40px;
}
.right-column{
    background-image: url(../img/create-your-acc--bg-img.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 50vw;
    padding: 100px;
}.title{
    font-weight: bold;
    font-size: 55px;
    color: #071c35;
    line-height: 60px;
}
.get-stared-btn{
    color: white;
    background-color: #3e83f1;
    text-decoration: none;
    padding:17px 40px;
    border-radius: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-top: 5px;

}
.fa-play-circle{
    color: #fcb01c;
    text-decoration: none;
}
.play-btn{
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: 10px;

}
.create-your-acc{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.create-your-acc > .title{
    color: #347dee;
    font-size: 30px;
}
.start-personal-dtls{
    color: gray;
}
.create-your-acc{
    width: 560px;
    padding: 30px;
}
input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    border:2px solid gray;
    border-radius: 5px;
    padding: 10px;
}
input[type="text"] {
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 8px;
}
.inputWithIcon input[type="text"] {
    padding-left: 70px;
    outline: none;
}
.inputWithIcon input[type="password"] {
    padding-left: 70px;
    outline: none;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 15px;
    color: red;
}
.sign-up-now-btn{
    padding: 10px 0px;
    margin-top: 20px;
    background-color: #347dee;
    text-align: center;
    border-radius: 10px;
}
.sign-up-now-btn > button{
    border:none;
    background-color: #347dee;
    font-weight: bold;
    font-size: 18px;

}
.sign-up-now-btn > button > a{
    color: white;
    text-decoration: none;
}
.signup-with{
    text-align: center;
    color: #afb0b0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.signup-with > hr{
    width: 50px;
    display: inline-block;
    color: #afb0b0;
    margin-top: 13px;
}
.signup-with > p{
    display: inline-block;
    color: #afb0b0;
    margin-right: 15px;
    margin-left: 15px;
}
.signup-icons{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.signup-icons > .facebook-btn{
    color: white;
    background-color: #347dee;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.signup-icons > .google-btn{
    color: white;
    background-color: #f33f37;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.signup-icons > .linkedin-btn{
    color: white;
    background-color: #1578b2;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.signup-icons > .instagram-btn{
    color: white;
    background-color: #df2d78;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.login-line{
    color: gray;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.login-line > a{
    color:#1578b2;
    text-decoration: none;
    margin-left: 10px;
}
.resume-features{
    padding-top: 80px;
    text-align: center;
    background-color: white;
}
.resume-features > p{
    color:#1578b2;
    font-weight: bold;
    font-size: 18px;
}
.resume-features > h1{
    color: #091830;
    font-size: 50px;
}
.rf-turinys{
    padding-top: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.zona{
    background-color: white;
    width: 25%;
    height: 350px;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.zona:hover{
    border-bottom:5px solid #498af1;
    box-shadow: 10px  0px 10px 10px #8080804f;

}
.title-0{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.zonos-turinys{
    color:gray;
    margin-bottom: 10px;
}
.rf-turinys-0{
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.exp-more{
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
}
.exp-more > p{
    border-radius: 50px;
    padding: 10px 50px;
    background-color: #ff7c4e;
    color: white;
    width: 214px;
    text-decoration: none;
    font-weight: bold;
}
.exp-more > a{
    color: white;
    text-decoration: none;
}
.fa-caret-right{
    color: white;
    text-decoration: none;
    font-size: 50px;
    margin-top: 2px;
    font-weight: bold;
    margin-left: 5px;
}
.hw-left-column > img{
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-left: 0px;
    width: 50%;
    float: left;
}
.hw-right-column{
    padding: 60px;
    width: 50%;
    float: right;
}
.hw-title{
    color: #1d2a43;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.hw-box{
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: right;
}
.hw-box:hover{
    border-bottom:5px solid #498af1;
    box-shadow: 10px  0px 10px 10px #8080804f;
    font-weight: bold;
}
.fa-check-circle{
    color: #1ca05c;
    margin-right: 10px;
}
.hw-box-title{
    color: #1d2a43;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
}
.fa-bolt{
    color: yellow;
    margin-top: 6px;
    margin-left: 10px;
}
.hw-box-botm-text{
    color: gray;
    padding-left: 40px;
}
.using-benefits{
    display: flex;
    justify-content: space-between;
    color: #1d2a43;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
}
.using-benefits > p{
    font-weight: bold;
    font-size: 40px;
    color: #071c35;
    margin-left: 90px;
}
.see-more{
    background-color: #ff7c4e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    height: 40px;
    padding: 10px 0px 0px 0px;
    border-radius: 50px;
    margin-top: 35px;
    margin-right: 100px;
    text-align: center;
}
.see-more > a{
    color: white;
    text-decoration: none;
}
.bn-usimg-biulder{
    padding-top: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.bn-zona{
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 20px 0px 0px 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    
}
.bn-zona:hover{
    box-shadow: 10px  0px 10px 10px #8080804f;
    font-weight: bold;
    border-radius: 10px;
}
.bn-title{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.bn-zonos-turinys{
    color:gray;
}
.bn-turinys-0{
    background-color: white;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.how-online-resume{
    display: flex;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background-color: #f6f5fa;
    width: 100%;
}
.how-res-title{
    justify-content: center;
    padding-top: 30px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #091830;
}
.how-res-title-aprsm{
    color: gray;
    margin-top: 20px;
}
.rs-templates{
    display: flex;
    justify-content: center;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.rs-temp-title{
    justify-content: center;
    padding-top: 30px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #091830;
}
.rs-temp-title-aprsm{
    color: gray;
    margin-top: 20px;
    margin-bottom: 100px;
}
.rs-links{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.rs-links > a{
    text-decoration: none;
    color: gray;
    font-size: 17px;
    margin-left: 30px;
    margin-right: 30px;
}
.rs-links > a > p{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    
}
.rs-links > a > p:hover{
    color: white;
    background-color: #3e83f1;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 2px;
}
.rs-img{
    display: flex;
    justify-content: center;
}
.rs-img > img{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.get-template{
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
}
.get-template > p{
    border-radius: 50px;
    padding: 10px 50px;
    background-color: #ff7c4e;
    color: white;
    width: 260px;
    text-decoration: none;
    font-weight: bold;
}
.get-tempplate > a{
    color: white;
    text-decoration: none;
}
.cus-say{
    display: flex;
    align-items: stretch;
    text-align: center;
    background-color: #f9f9fa;
}
.quotation{
    color: #eeeeee;
    font-family:sans-serif;
    width: 17vw;
    margin-top: 50px;
}
.cus-nzn{
    margin-top: 80px;
    margin-bottom: 100px;
    width: 65vw;
}
.cus-title{
    padding-top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #091830;
}
.cus-title-aprsm{
    color: gray;
    margin-top: 20px;
}
.wh-cos-say{
    background-color: #f9f9fa;
}
.wh-turinys{

}
.wh-zona{
    background-color: white;
    width: 330px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 7px 16px 11px #8080804f;
    margin-bottom: 100px;
}
.wh-signup-icon{
    padding: 10px;
    margin-top: 20px;
}
.wh-signup-icon > p{
    display: inline-block;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-left: -9px;
}
.wh-proj-mmng > p{
    display: inline-block;
    color: #4284f1;
    font-size: 15px;
    font-weight: bold;
}
.wh-proj-mmng > .fa-star{
    color: #fcc207;
    float: right;
    margin-top: 4px;
}
.wh-nzn{
    font-family: sans-serif;
    color: #010924;
    font-size: 50px;
}
.wh-nzn-line{
    color: #eae9e9;
    margin-top: -60px;
    width: 92%;
    float: right;
}
.wh-zonos-turinys{
    color:gray;
    margin-bottom: 10px;
    margin-top: -22px;
    display: inline-block;
}
.wh-signup-icon > .facebook-btn{
    color: white;
    background-color: #347dee;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.wh-signup-icon > .google-btn{
    color: white;
    background-color: #f33f37;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.wh-signup-icon > .linkedin-btn{
    color: white;
    background-color: #1578b2;
    padding: 5px 8px;
    border-radius: 100%;
    text-decoration: none;
    float: right;
}
.wh-signup-icon > .instagram-btn{
    color: white;
    background-color: #df2d78;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}